<div>
  <app-article-header id=1016></app-article-header>
  <p>
    For this one I risked an attempt on creating a <em>fast-paced-action</em> comics.  Almost 
    immediately the game <span style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', 
    sans-serif">Mortal Kombat</span> came to mind.
  </p>
  <p>
    Read on for a <em>No Holds Barred</em> all out FIGHT.
  </p>
  <p>Fair warning, comics are best experienced on a laptop or desktop.</p>
  <app-comic-holder [comics]="comics"></app-comic-holder>
  <app-collapsible-section heading="The Making">
    <p>
      My primary drive to create this comics was to try my hands at drawing action. For that I kept 
      the number of characters to a minimum of two (you need at least 2 fighters to fight). Also I 
      did not want to stress on a lot for backgrounds. So that was kept simple. A room in a monastery 
      where the fighters fight.
    </p>
    <p>
      With the boudaries defined, I came up with a rough script. I kept the script loose so that 
      while I worked on art, based on what felt/looked good, I could re-arrange the flow of the story.
    </p>
    <p>My process can be summarised as:</p>
    <ol>
      <li>Based on rough script, do a rough story board</li>
      <li>
        Based on story board, find references. Mortal Kombat is a popular game and the internet was a 
        treasure trove of resources for me to draw my references from. The references helped finalise 
        the story board.
      </li>
      <li>With the finalised story board in hand, all was left was to art it out</li>
    </ol>
    <p>A typical workflow for creating a page is drawn below:</p>
    <div>
      <app-image-holder  
        [imageDetails]="process" 
        showText="false" showDescription="false">
      </app-image-holder>
    </div>
    <p>
      The other aspect that I experimented with is on how to depict dynamism in my art.  While the 
      game itself displays the fighters from a side view, which of course works for the game, here 
      I had an opportunity to try other angles.  The basic idea was to find a perspective which 
      would present the scene with the biggest impact.
    </p>
    <p>
      Thumbnail sketches come in very handy for that matter.  Below are two examples where I went 
      through the thumb-nailing exercise to finalise the perspective:
    </p>
    <div>
      <app-image-holder  
        [imageDetails]="perspective" 
        showText="false" showDescription="false">
      </app-image-holder>
    </div>
    <p>
      While I was making this comics, my daughter got obsessed with Mortal Kombat.  She searched on 
      YouTube on it and found out about Fatalities, Brutalities, Animalities.  Now that I think about 
      it, maybe not the best thing I had her exposed to.
    </p>
    <p>Then the never ending questions:</p>
    <ul>
      <li>Do you know there are more than 20 Mortal Kombat games? Did you play all of them?</li>
      <li>Which is your favourite character? Which is you least favourite character?</li>
      <li>Will you use a Fatality in your comics?</li>
      <li>and on and on...</li>
    </ul>
    <p>
      She is my honest critic though.  She volunteered inputs which I gladly incorporated.  The term 
      <em>face-plant</em>, it was her idea to put that in.  I even changed the art to make the 
      term relevant.
    </p>
  </app-collapsible-section>
  <app-hostel-v-collection></app-hostel-v-collection>
  <br>
</div>
