<div>
  <app-hostel-v-header id=1026></app-hostel-v-header>
  <p>
    After working on a <em>action</em> comic, I wanted to try my hand on <em>depicting 
    motion</em>.  <span style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', 
    sans-serif">Need for Speed</span> it is!
  </p>
  <p>
    I have been working on this story for almost two years now.  I was struggling to come up with a 
    proper ending.  I had stopped working on this mid-way to work on other projects, just so that I 
    could come back to this with a fresh perspective.  One such project was inspired by this story.  
    Read it <a href="https://premjitadhikary.github.io/paintinbits/articles/agent-shots-patience" 
    target="_blank">here</a>.
  </p>
  <p>Fair warning, comics are best experienced on a laptop or desktop.</p>
  <app-switchable-double-spread-comic-holder 
    [singlePages] = "comicsSingle" 
    [doublePages] = "comicsDouble" 
    [singleToDoubleMap] = "pageMap"
  ></app-switchable-double-spread-comic-holder>
  <app-collapsible-section heading="The Making">
    <p>
      This time, the goal was to draw motion and detailed backgrounds, landscape to be precise.  Like 
      my previous attempt, I kept my focus just on that.  Racing cars in motion through mountains.  <em>No 
      character design required!</em>  I also did not want to overcomplicate by drawing different car models, 
      so one model with different colors to differentiate the players.
    </p>
    <p>
      Boundaries defined, time to come up with a script.  Right, it should be easy, the race starts with a 
      bunch of racers, and we end up with a winner.  <em>Where's the drama?</em>  Let me tell you, this was 
      a hard script to finalise.  About half-way through I just stopped (was this writer's block?).  I started 
      on the artwork instead.  A very risky thing to do - I had already burnt my hands before in a previous 
      project where I had to redo a lot of art just because I changed the script.  Fortunately I had other 
      projects to work on to distract me.
    </p>
    <p>
      <em>Did I mention it took almost two years for me to complete this project?</em>  Unfinished script was 
      the primary reason.  I came up with a proper ending sometime in July 2025.  Finalised the script in 
      August.  Then back to the art.
    </p>
    <p>
      The other reason for two years?  The artstyle I selected for comics.  I went for Pseudo Realistic Art.  
      This is a style that I take my own sweet time to realise - and I can still see a lot of room for 
      improvement.
    </p>
    <p>
      <app-carousel 
        [allImages]="making" 
        [showText]="true" 
        [showDescription]="true" 
        [showBelt]="false"></app-carousel>
    </p>
    <br>
  </app-collapsible-section>
  <app-hostel-v-collection></app-hostel-v-collection>
</div>
