<div>
  <app-hostel-v-header id=1026></app-hostel-v-header>
  <p>
    After working on a <em>action</em> comic, I wanted to try my hand on <em>depicting 
    motion</em>.  <span style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', 
    sans-serif">Need for Speed</span> it is!
  </p>
  <p>
    I have been working on this story for almost two years now.  I was struggling to come up with a 
    proper ending.  I had stopped working on this mid-way to work on other projects, just so that I 
    could come back to this with a fresh perspective.  One such project was inspired by this story.  
    Read it <a href="https://premjitadhikary.github.io/paintinbits/articles/agent-shots-patience" 
    target="_blank">here</a>.
  </p>
  <p>Fair warning, comics are best experienced on a laptop or desktop.</p>
  <app-switchable-double-spread-comic-holder 
    [singlePages] = "comicsSingle" 
    [doublePages] = "comicsDouble" 
    [singleToDoubleMap] = "pageMap"
  ></app-switchable-double-spread-comic-holder>
  <app-collapsible-section heading="The Making">
    To be added
    <br>
  </app-collapsible-section>
  <app-hostel-v-collection></app-hostel-v-collection>
</div>
