<div>
  <app-article-header id=1004></app-article-header>
  <p>
    Drawing Sky is a good exercise.  It's so random, you can't go wrong with it.   Gone are the 
    days when I would simply paint the the paper blue.  Even during my PaintDotNet experience, I 
    would do a simple gradient and get away with it.  The viewers would not pay much attention to 
    the Sky, it's like 'It's blue, and high, so must be the sky', kind of a reflex.  So I decided 
    it's high time I give some respect to this subject.
  </p>
  <p>
    Originally I had planned for 4 pieces, sunrise, sunset, daylight and nighttime. But then 
    sunrise and sunset, I thought 2 orange entries might make it redundant.  So here we are, the 3 
    moods.
  </p>
  <p>
    <app-carousel 
      [allImages]="slideImages" 
      [showDescription]="true" 
      [showText]="true" 
      [showBelt]="false"></app-carousel>
  </p>
  <p>So what's your favorite mood?</p>
</div>
