<div>
  <app-article-header id=1014></app-article-header>
  <p>
    For my 50th segment in <a target="_blank" 
    href="https://premjitadhikary.github.io/Mesmerize/">Mesmerize</a>, I had made a game.
  </p>
  <p>
    This was one of my most complex projects till date. <a target="_blank" 
    href="https://premjitadhikary.github.io/Mesmerize/vs-50">Try it out</a>.
  </p><br>
  <p>
    <app-image-holder 
      [imageDetails]="mesmerizeVs50Ram">
    </app-image-holder>
  </p><br>

  <app-collapsible-section heading="The Idea">
    <p>
      The basic idea was to symbolize the challenges I faced to build the 50 segments. Which is why 
      <em>VS 50</em> if you still don't get it!
    </p>
    <p>
      My plan was to always make a platformer. I had originally thought of having a Samurai vs Ninja 
      themed game. I had already created a Samurai and a Ninja character in <a target="_blank" 
      href="https://premjitadhikary.github.io/Mesmerize/simulated-combat">Simulated Combat</a>. 
      I had thought of extending the same characters (maybe add a few faster moves) and Let  
      that play out.
    </p><br>
    <p>
      <app-image-holder 
        [imageDetails]="mesmerizeVsSimCombatPreview">
      </app-image-holder>
    </p><br>
    <p>
      But there are just too many Samurai/Ninja themed games out there! So instead, I made one 
      based on Indian Mythology.
    </p><br>
    <p>
      <app-image-holder 
        [imageDetails]="mesmerizeVs50Preview">
      </app-image-holder>
    </p><br>
  </app-collapsible-section>

  <app-collapsible-section heading="Character and Animation">
    <p>Character study and design for the game.</p>
    <p>
      I had half a mind to draw Lord Ram blue.  Then decided against it.  The bow itself is a 
      techno/spiritual marvel.  Concept being it powered by cosmic energy drawn in by the Lord.
    </p>
    <p>Vanara is inspired from earlier Neanderthals.  Nimble and wields <em>Gada</em>.</p>
    <p>
      Jambuvan, obviously inspired by bears. Heavily armored and wields <em>Bagh Nakh</em>.
    </p>
    <p>
      Vali, I wanted to show the alpha of the jungle. So the gorilla was my inspiration. To 
      make him more menacing, I made him a dual weapon wielder.
    </p><br>
    <p>
      <app-carousel 
        [allImages]="characterStudy" 
        [showText]="true" 
        [showDescription]="false" 
        [showBelt]="false"></app-carousel>
    </p><br>
    <p>Once the character designs were complete, creation of sprites and corresponding animation.</p>
    <p>
      For the complete list of character animation, <a target="_blank" 
      href="https://premjitadhikary.github.io/Mesmerize/vs-50-demo-character-animation/">check here</a>.
    </p><br>
    <p>
      <app-image-holder 
        [imageDetails]="ramRun">
      </app-image-holder>
    </p><br>
  </app-collapsible-section>

  <app-collapsible-section heading="Artwork">
    <p>
      I did a couple of artwork for the game to showcase the lush forests of Kishkindha. 
      These are used as a Menu backdrop and in the story.
    </p><br>
    <p>
      <app-carousel 
        [allImages]="gameArt" 
        [showText]="true" 
        [showDescription]="false" 
        [showBelt]="false"></app-carousel>
    </p><br>
  </app-collapsible-section>
  
</div>
