<div>
  <span class="img-container">
      <picture>
        <source srcset='{{ imageDetails.loPath }}' media="(max-width: 575px)">
        <source srcset='{{ imageDetails.hiPath }}'>
        <img 
          src='{{ imageDetails.hiPath }}' 
          title="{{ imageDetails.alt }}" 
          alt="{{ imageDetails.alt }}" 
          style="width:auto;">
      </picture>
      <div *ngIf="showText">{{ imageDetails.text }}</div>
  </span>
  <div *ngIf="showDescription"><p class="img-p" [innerHtml]="processMdText(imageDetails.description)"></p></div>
</div>
