.img-container {
  text-align: center;
  display: block;
  width: 100%;
}

.img-container > picture > img {
  max-width: 100%;
  max-height: auto;
}

div {
  background-color: black;
}

.img-p {
  background-color: #cccccc;
  color: #2e2e2e;
}