<div>
  <app-article-header id=1012></app-article-header>
  <p>Pandemic Productivity... another comics!</p>
  <p>
    While the 1st page was published on March 29th, it was not until April last week that an 
    actual story was formulated.
  </p>
  <p>
    But it took lot more than what I had anticipated to complete the art. It was not until July 
    second week that I was able to release this.
  </p>
  <p>Fair warning, comics are best experienced on a laptop or desktop.</p>
  <p>
    <app-carousel 
      [allImages]="comics" 
      [showText]="false" 
      [showDescription]="false" 
      [showBelt]="false"></app-carousel>
  </p>
</div>
