<div>
  <app-article-header id=1012></app-article-header>
  <p>Pandemic Productivity... another comics!</p>
  <p>
    While the 1st page was published on March 29th, it was not until April last week that an 
    actual story was formulated.
  </p>
  <p>
    But it took lot more than what I had anticipated to complete the art. It was not until July 
    second week that I was able to release this.
  </p>
  <p>Fair warning, comics are best experienced on a laptop or desktop.</p>
  <p>
    <app-carousel 
      [allImages]="comics" 
      [showText]="false" 
      [showDescription]="false" 
      [showBelt]="false"></app-carousel>
  </p>
  <app-collapsible-section heading="Xtras from the making">
    <p>
      Few images taken out while making.
    </p>
    <p>
      <app-carousel 
        [allImages]="xtras" 
        [showText]="false" 
        [showDescription]="true" 
        [showBelt]="false"></app-carousel>
    </p>
  </app-collapsible-section>
  <app-collapsible-section heading="2023 Update">
    <p>
      As with everything I made, after sometime mistakes started to glare out at me from the 
      pages of <em>An Agent</em>.  After a lot of deliberation, I finally decided to fix some of 
      them. I did not fix everything, rather the ones which I felt made most impact.
    </p>
    <div class="breaks">
      <div>
        <p>
          The major one was page 12. It felt rushed.  Lot of things happenned on a single page.  
          This triggered a weird arrangement of panels.  The haphazard panel arrangement in turn 
          caused the important frames not getting enough space to convey the narrative.
        </p>
          <ul>
            <li>
              The frames shaded red are the one that I felt should have been given much more 
              space to convey the narrative.
            </li>
            <li>
              The frame shaded in green was not so important to take up so much space on this 
              page.  It was done as a filler on this page.
            </li>
          </ul>
        <p>
          Page 12 was split into 2 pages (12A and 12B) with updated art.  It was here that I hated 
          myself for putting page numbers directly on the art.
        </p>
      </div>
      <div>
        <app-image-holder  
          [imageDetails]="markedPage12" 
          showText="false" showDescription="false">
        </app-image-holder>
      </div>
    </div>
    <div class="breaks">
      <div>
        <app-image-holder  
          [imageDetails]="oldPage17" 
          showText="false" showDescription="false">
        </app-image-holder>
      </div>
      <div>
        <p>
          The next was page 17.  I didn't like the way the reader was lead to the flow of the 
          page.  This is the bottom half of the page that I felt was problematic.  
        </p>
        <p>
          This was a quick fix though.  I switched the art horizontally.  Did the same to the upper 
          half to balance the space all around.
        </p>
      </div>
    </div>
  </app-collapsible-section>
  <p>
    <app-filtered-articles tag="agent" tagname="An Agent Universe"></app-filtered-articles>
  </p>
  <br>
</div>
