<div>
  <app-article-header id=1017></app-article-header>
  <p>
    On the second Saturday of March 2024, we had a few guests over at our place for lunch.  Among 
    many topics discussed, my love for art and consequently this website came up.  Then the 
    question from one of the guest, <em>Why don't you submit something for <strong>Gogona</strong> 
    this year?</em>
  </p>
  <p>Before we continue, <em>what is Gogona?</em></p>
  <p>
    Gogona is a small instrument played primarily in Bihu songs of Assam.  But in the context of 
    the request, Gogona is a yearly periodical.  A bilingual magazine which contains articles, 
    poetry, travelogs, interviews and much more in both English and Assamese.
  </p>
  <p>
    Gogona is published by the Assamese Community in Sydney as they celebrate Rongali Bihu.  The 
    content for it is collected from the kids and adults of the same.  In my interaction with the 
    members, I found them to be very enthusiastic about the community and all the festivities 
    associated with it.  One of the reasons I feel is because of the urge to stay connected to our 
    roots and pass on our culture to the next generation.
  </p>
  <p>
    Back to the original question - it was posed to me by the current editor, Santana, of 
    the magazine.  I was asked the same question the year before by the then editor, Nayan, who 
    also happens to be my friend from high school.  I had contributed an article back then based on 
    the topic that I was provided.  This time I was given the liberty to submit whatever I wanted, 
    along with art.  The rationale was that it would be something unique.
  </p>
  <p>
    That got me interested!  My counter question - <em>When is the deadline for submission?</em>  
    The answer - TOMORROW!
  </p>
  <p><em><strong>WHAT?!</strong></em></p>
  <p>
    Santana, cool as a cucumber that she is, replied, <em>as the editor, it's up to me to accept 
    late submissions! You take your time. Just not too much time.</em>  Alright, challenge accepted!
  </p>
  <p>After toiling for two days (fortunately was a long weekend), the result:</p>
  <p>
    <app-carousel 
      [allImages]="comics" 
      [showText]="false" 
      [showDescription]="false" 
      [showBelt]="false"></app-carousel>
  </p>
  <p>
    As you can see, I had no story this time.  It is more of my own reflection of how I improve 
    myself.  This submission itself is me putting in practice what I attempted to preach!
  </p>
  <ul>
    <li><em>
      The word CREATIVITY <strong>inspired</strong> me to come up with a piece on creativity
    </em></li>
    <li><em>
      <strong>Curiosity</strong> drove me to research on stories and personalities from Assam where 
      creative genius was evident
    </em></li>
  </ul>
  <p>
    The art-style for this piece has a similar journey.  On my Brisbane trip in 2023, I gained a 
    new friend, Mayur.  A gem of a person who has honed his skills in multiple disciplines (art, 
    music, photography, writing are few that I know of).
  </p>
  <ul>
    <li><em>
      Mayur is a self-taught artist and primarily sketches portraits.  It's a style which requires 
      immense control of strokes, which I always avoided.  But it got me <strong>curious</strong> to 
      learn more about it.
    </em></li>
    <li><em>
      And then I came across his collection of all the artwork that he has done over the years.  If 
      not thousands, there were at least hundreds of sketchbooks stacked in his studio.  That 
      sparked a very strong <strong>inspiration</strong> in me to try the style out!
    </em></li>
  </ul>
  <p>
    Of course the art that I was able to produce is not even close to what flow's out of Mayur's 
    pen, but again I am hundreds of sketchbooks behind him on skill level.
  </p>

  <app-collapsible-section heading="Got Published">
    <p>
      My submission got published in the 15th edition of Gogona on April 2024. I got a physical 
      copy of the magazine yesterday. Took a few snaps to put up below.
    </p>
    <p>
      <app-image-holder 
        [imageDetails]="published">
      </app-image-holder>
    </p>
    <br>
  </app-collapsible-section>
  <br>
</div>
