<div>
  <app-article-header id=1024></app-article-header>
  <p>
    A short comic that I worked on for <i>Xomonnoy 2025</i>, the magazine scheduled to be released for this 
    year's Assam Convention in Sydney for the Assamese diaspora in Australia and New Zealand to be held on 
    the first weekend of October!  As usual, there are a few extras on this website that were not shared to 
    be published.
  </p>
  <p>
    While I had numerous days at my disposal to come up with a cover and a comic, the actual time I could 
    commit to this project, with all the work and life events, was not very much.  I had crossed the 
    deadline; fortunately the editorial was tolerant.  Of course I had to pay for my tardiness.  My request 
    was to print this comic as the first piece in the magazine.  The story flows seamlessly by following 
    the cover.  But the placement was already done for the articles promptly submitted by others well before 
    the said deadline, and my submission was shoehorned somewhere in the middle.  Well, <i>you win some, you 
    lose some</i>.
  </p>
  <app-comic-holder [comics]="comics"></app-comic-holder>
  <br>
  <app-collapsible-section heading="Publishing Hiatus">
    <p><i>
      With the unfortunate incident of the passing of Assam's dearest artist, <b>Zubeen Garg</b>, on September 
      19th, it was impossible for the grief-stricken Assamese community to carry on with the convention within 
      weeks.  As of now the convention has been put on hold, and instead a <b>Zubeen Garg Shradhanjali</b> 
      (memorial service) was to be held.
    </i></p>
    <p>
      With the convention put on hold, the release of the physical copy of the magazine was also put on hold. 
      A modified e-version might come out sometime later; the decision has not been made yet.
    </p>
  </app-collapsible-section>
  <br>
</div>
