<div>
  <app-article-header id=1009></app-article-header>
  <p>
    My second attempt at digital comic.  But this was the first one that was somewhat 
    pseudo-commissioned.  Let me explain the reason for using the word 
    <em>pseudo-commissioned</em> first.  The word 'commissioned' because this was something that 
    I was asked to draw and not something that I came up with.  The word <em>pseudo</em> because 
    I was not paid in cash.  I was allowed to put my signature on the final piece and this 
    project earned me a few brownie points with upper management.
  </p>
  <p>
    Now, to what I was asked to draw.  Sometime around Nov 2015, one of my senior project managers 
    came to me and <em>You do art, I have a job for you</em>. It turned out that to showcase our 
    understanding of publishing domain, upper management thought that it would be a good idea to 
    have posters and banners across the floor with all publishing related tidbits. I was charged 
    to come up with creative inputs for what would go into those.
  </p>
  <p>
    For inspiration I was given 900 word essay on the workflow of newspaper printing.  I cannot 
    put it out here due to confidentiality reasons.  You should be thanking me for that 
    actually.
  </p>
  <p>
    After much <em>head scratching</em>, I came up with a small comic strip to <em>represent</em> 
    publishing for a fictitious newspaper. The ideas are of course dated (Obama as President, Mars 
    missions).  I was supposed to keep away from sensitive topics.  Two of my friends, Amit and 
    Tulasi, helped me out on coming up with interesting stories for the fictitious newspaper.
  </p>
  <p>So here goes...</p>
  <p>Fair warning, comics are best experienced on a laptop or desktop.</p>
  <app-comic-holder [comics]="comics"></app-comic-holder>
  <p>
    For this comic, I tried the much respected Clear Line Art Style here.  I am a huge fan of 
    Tintin.  This was my small tribute to its creator.  During my childhood I have gone through 
    each and every albums so so many times.  I cant even express how Tintin had effected my 
    life.  I came across the idea of zero gravity in space and how it affects the matter around 
    it by reading Tintin.  And this was much before I learnt about Solar System in our Science 
    class.
  </p>
  <p>That's somethings right?</p>
</div>
