<div>
  <app-article-header id=1006></app-article-header>
  <p><b><em>Why Avatars?</em></b></p>
  <p>
    Remember Orkut?  That's where I started with Avatars.  Instead of putting in a jazzy profile 
    pic, I started putting in some comic / cartoon version of myself there. Most of the Avatars 
    were inspired by some event in my life.  Somewhere I went, something I did, just kind of a fun 
    way to put it out there.  My friends found it quite entertaining in the way I put them out. 
    So that too was a good motivation.
  </p>

  <app-collapsible-section heading="The First Avatar">
    <div class="breaks">
      <div>
        <p>
          My first attempt at digital drawing.  I thought what better than to draw myself?  Big 
          ego-boost I know.  So why this?  Well it looks like me.  And why the crown?  To answer 
          that my friend, I will take up the next paragraph.
        </p>
        <p>
          Before I explain the crown I need to explain why King Putai.  Well the <em>King</em> explains 
          the crown, so lets just say I explain the 'King Putai'.  Ready for a history lesson? 
          Here goes...
        </p>
        <p>
          Long ago in an engineering college there were a handful of students who got hooked to an 
          amazing game 'Age of Empires II'.  They could played night and days at a stretch, only to 
          go to classes in between.  I was lucky to be part of that elite group.  We got pretty good 
          at the game and soon computer stopped providing us with much of a challenge.  Then we 
          started playing against each other, what a rush.  We would be eager to reach our hostel 
          from class and jump into the game.
        </p>
        <p>
          So why are we discussing a early 2000 strategy game?  Its because how we represented 
          ourselves in the game.  In the game, whenever we would play against the computer, it would 
          have fancy names like King Henry III or General Khan or Emperor Ming.  We started using 
          similar names, I started using 'King Putai', Putai being my nickname.  The name just 
          stuck.  I opened up an email account, my name was already taken, but kingputai was not.  So 
          it became my email id.  That just continued everywhere, now I just like it.  It's like my 
          pseudo name.  If you check my latest art, I even sign with the same.
        </p>
        <p>
          Anyway, coming back to the Avatar, well as you can see as a first attempt, it was very crude, 
          but I think it captured the essence of 'King Putai'.  With my receding hairline, it was 
          already a good caricature theme to begin with.  Don't you agree?
        </p>
      </div>
      <div>
        <p>
          <app-image-holder  
            [imageDetails]="firstAvatar" 
            showText="false" showDescription="false">
          </app-image-holder>
        </p>
      </div>
    </div>
  </app-collapsible-section>
  
  <app-collapsible-section heading="Avatars on Experiences">
    <p>
      My next few Avatars reflected my various experiences in US.  To be frank, I had so many 
      experiences from which I could have taken inspiration, but alas, time was never enough.
    </p>

    <div class="breaks">
      <div>
        <p>
          <app-image-holder  
            [imageDetails]="chicagoAvatar" 
            showText="false" showDescription="false">
          </app-image-holder>
        </p>
      </div>
      <div>
        <p>
          This was inspired by my trip to Chicago.  Little me awed by the big tall buildings all 
          around.  Yup that summarized it pretty well.
        </p>
      </div>
    </div>
    
    <div>
      <p>
        <app-image-holder  
          [imageDetails]="cedarPointAvatar" 
          showText="false" showDescription="false">
        </app-image-holder>
      </p>
    </div>
    <div>
      <p>
        Cedar Point, in Ohio, that was the Roller Coaster capital when you talk about amusement 
        parks.  I still remember the Top Thrill Dragster, a 420 feet high Hydraulic Launch 
        Vertical Strata Coaster.  I usually go for wooden Roller Coasters, but this was one steel 
        Roller Coaster I would go every time I get a chance.  Reaching about 120mph, it's still 
        the best ride I have ever taken.
      </p>
      <p>You can see the Dragster in the background of the Avatar for my Cedar Point trip.</p>
    </div>
    
    <div>
      <p>
        <app-image-holder  
          [imageDetails]="raftingAvatar" 
          showText="false" showDescription="false">
        </app-image-holder>
      </p>
    </div>
    <div>
      <p>
        White Water Rafting, and I don't know how to swim.  Rafting is one of those adventures 
        that you should do once in a lifetime.  This was when we went to Yough River, 
        Pennsylvania.  No guide in our boat to supervise us, none of us with prior experience, 
        we conveniently reaching late for the introductory session where they actually instruct 
        on how to control the boat, more important, how to stay safe on the boat.  Needless to 
        say, my roommate fell off in the water, we pulled him in, crazy fun.
      </p>
      <p>I was the person steering.</p>
    </div>
  </app-collapsible-section>
  
  <app-collapsible-section heading="Avatars on Travels">
    <div class="breaks">
      <div>
        <p>
          <app-carousel 
            [allImages]="travellingAvatars" 
            [showText]="false" 
            [showDescription]="false" 
            [showBelt]="false"></app-carousel>
        </p>
      </div>
      <div>
        <p>
          At first I have the Avatar that I created after my Smoky Mountains trip in Tennessee.  Good 
          green place to hike, beware of bears though.  And next I have the one that I created 
          after my Devil's Lake trip in Wisconsin.  This was during the fall, hence the red/orange 
          theme.
        </p>
        <p>
          Next is on my first Miami trip, and it was rains the whole time.  As you can see how 
          disappointed I was on the empty beach.  We regretted not checking out the weather 
          earlier.  The only plus, with all the day on our hands, well we got to sample so many 
          places to eat near the beach.
        </p>
        <p>
          Finally ... One of my best trips in US... Vegas.  Everyone should go to Vegas at least 
          once in their lifetime.  So I had to create an Avatar for this, and what better way to 
          showcase the place than a setup inside a Casino.  Gave myself a Godfather look too.  I 
          had to put the crown somewhere, so I did that in my jacket pocket, instead of the usual 
          triangle.
        </p>
      </div>
    </div>
  </app-collapsible-section>
  
  <app-collapsible-section heading="Lost and Last">
    <div>
      <p>
        <app-image-holder  
          [imageDetails]="laAvatar" 
          showText="false" showDescription="false">
        </app-image-holder>
      </p>
    </div>
    <div>
      <p>
        I started working on this during my LA trip.  For some reason I could never complete 
        it.  And then I lost interest.  I think I had a starry night as a background for this 
        and neon signs in forground.  I never put this out on Orkut.
      </p>
    </div>
    
    <div class="breaks">
      <div>
        <p>
          <app-image-holder  
            [imageDetails]="lastAvatar" 
            showText="false" showDescription="false">
          </app-image-holder>
        </p>
      </div>
      <div>
        <p><em>The Last Avatar</em></p>
        <p>
          This was just after my wedding. This was also the first time I drew an avatar for my better 
          half.  And yes, this was the last Avatar that I did for Orkut, well I pretty much stopped 
          using Orkut after my wedding and joined the Facebook Wagon.  I actually had to open up my 
          Orkut page to go through the different Avatars I had created during that period.
        </p>
      </div>
    </div>
  </app-collapsible-section>
</div>
