<div>
  <h2>About</h2>
  <app-collapsible-section heading="About Site" [show] = true>
    <div>
      <p>
        <em>Paint in Bits</em> is an online repository of all my art that I have drawn and I will 
        be drawing (no matter how crappy they are). The 'I have drawn' pieces of work will be 
        added as and when I get my hands on them, few of them are in my hard drive somewhere, few 
        of them I don't even know if I will be able to recover. Another reason for this site is 
        to keep me motivated to keep drawing and add more art. The more I draw the better I get.
      </p>
      <p>
        In this site you may find something that inspires you too to pick up the pencil and tap 
        your creative side. There are also a few write ups where I have jotted down a few lines 
        regarding the drawings.
      </p>
    </div>
  </app-collapsible-section>
  <app-collapsible-section heading="About Author">
    <div>
      <p>
        I am Premjit Adhikary. I started drawing from a very young age. The place where I was born 
        and raised had the norm of having children enrolled in some activity so that they get 
        involved in something other than regular school work. Few of my friends went to music 
        schools to learn instruments, few went for martial arts, I was put into drawing. I didn't 
        go to any school, but I did have a teacher who would come to my place. He helped me with 
        the basics and even trained me a bit in water colors. Then I had to change schools and 
        move out and that was the end of my drawing lessons.
      </p>
      <p>
        It was a long time before I got interested in art again. I did doodle in my classes (small 
        transfomers here and there), but that was not much practice. It was only when I got my job 
        that I started drawing again, no I don't get paid to draw, it started more as a break from 
        my daily routine. Then I saw all these digital artists and slowly moved into drawing on 
        computer than on paper.
      </p>
    </div>
  </app-collapsible-section>
</div>
