<div>
  <app-article-header id=1019></app-article-header>
  <p>
    On this year's Gogona I had collaborated with my daughter for her submission.  She came up 
    with a fantasy story and I worked on the art for it.  Best part of this experience was that 
    she actually enjoyed working on her story, rewriting it to make the story more enjoyable to 
    read.
  </p>
  <p>
    <em>What is Gogona you ask?</em> Answered <a href="https://premjitadhikary.github.io/paintinbits/articles/inner-brahma" 
    target="_blank" >here</a>.
  </p>
  <p>
    The story submitted is below for your reading pleasure. Again, best experienced on a laptop or 
    desktop.
  </p>
  <app-comic-holder [comics]="comics"></app-comic-holder>
  <br>
  <p>
    Of course the last two pages presented here were not submitted for the magazine, that's just 
    for this site!
  </p>
  <app-collapsible-section heading="Got Published">
    <p>
      This submission got published in the 16th edition of Gogona on April 2025. I got a physical 
      copy of the magazine. Here's a snap of this story in it.
    </p>
    <p>
      <app-image-holder 
        [imageDetails]="published">
      </app-image-holder>
    </p>
  </app-collapsible-section>
  <br>
</div>
