<div>
  <app-article-header id=1007></app-article-header>
  <p>
    After a lot of avatars :) I had enough confidence to embark on a larger project.  I always 
    wanted to write a comic.  I already had a fine story ready (At least I think it's a fine 
    story).  So I rolled up my sleeves and got to work.
  </p>
  <p>
    Took lot more time and effort than I initially estimated, but I did complete.  A few more 
    revisions and here I present the final product.
  </p>
  <p>Fair warning, comics are best experienced on a laptop or desktop.</p>
  <p>
    <app-carousel 
      [allImages]="comics" 
      [showText]="false" 
      [showDescription]="false" 
      [showBelt]="false"
      [showNavOnImage]="false"></app-carousel>
  </p>
</div>
