<div>
  <div class="heading" >
    <h3>Read all stories from <em>{{ tagname }}</em>:</h3>
  </div>
  <br>
  <div class="list-container">
    <div *ngFor="let article of filteredArticles" class="article-container">
      <div class="img-container">
        <a routerLink="{{ getBaseRefedUrl(article.path) }}">
          <img src='{{ getImagePath(article.preview) }}'>
        </a>
      </div><br>
      <div>
        <a routerLink="{{ getBaseRefedUrl(article.path) }}"><b>{{ article.name }}</b></a>: 
        {{ article.description }}
      </div>
    </div>
  </div>
</div>
