<div>
  <app-article-header id=1008></app-article-header>
  <p>
    When it was time for me to get a new laptop, I had to think of something to make it look 
    unique.  For my first laptop, I had done a skin.  All the years I had it, I never ever 
    wanted/bothered to change the skin.  So this time I went for a more permanent solution.  The 
    people from whom I purchased this laptop offered etching services too.
  </p>
  <p>
    I had a crazy idea.  Why don't I draw few of my favorite characters and line them up?  Here 
    they go ...
  </p>
  <p>
    <app-carousel 
      [allImages]="slideImages" 
      [showText]="false" 
      [showDescription]="true" 
      [showBelt]="true"></app-carousel>
  </p>
  <app-collapsible-section heading="All together">
    <p>All together now.  I was ready with the artwork to be etched on my laptop.</p>
    <p>
      <app-image-holder 
        [imageDetails]="etchAllImg">
      </app-image-holder>
    </p>
  </app-collapsible-section>
</div>
