<div>
  <app-article-header id=1025></app-article-header>
  <p>
    Another father-daughter collaboration for her submission to <em>Xomonnoy</em>.  She was 
    excited to continue her story from the last one published <a target="_blank" 
    href="https://premjitadhikary.github.io/paintinbits/articles/elf-and-the-robot">here</a>.
  </p>
  <p>
    This time she tried a couple of storytelling techniques to make it more interesting.  The 
    art I did for this story continues the style from the first one.  This art style still takes 
    me a lot of time to realise.  Of course, she had input on what she wanted.
  </p>
  <p>
    Both of us wanted to come up with a catchy title for the <em>universe</em> these stories will 
    be part of, hoping there will be more.  Alo suggested using alliteration.  After much 
    deliberation, we have it as <em>Spectacular Spells and Scintillating Science</em>.
  </p>
  <p>The story submitted is below, best experienced on a laptop or desktop.</p>
  <app-comic-holder [comics]="comics"></app-comic-holder>
  <br>
  <p>The last page presented here was not submitted for the magazine, that's for this site.</p>
  <app-collapsible-section heading="Publishing Hiatus">
    <p>
      As mentioned <a href="https://premjitadhikary.github.io/paintinbits/articles/awesome-assam-convention" 
      target="_blank">here</a>, the release of the physical copy of the magazine was put on hold.  A modified 
      e-version might come out sometime later; the decision has not been made yet.
    </p>
  </app-collapsible-section>
  <br>
  <app-elf-collection></app-elf-collection>
</div>
