<div>
  <app-article-header id=1013></app-article-header>
  <p>
    My college will celebrate Diamond Jubilee this year. Among many things, there is a plan to bring 
    out a Souvenir. The committee in charge reached out to all students of Jorhat Engineering College 
    to submit their articles/stories/poems/cartoons related to JEC and it's life.
  </p>
  <p>I submitted a comics.</p>
  <p>
    Regarding the art style, I kept it simple. There was a deadline by which this had to be 
    submitted. So simple lines with mostly flat colors.
  </p>
  <p>Fair warning, comics are best experienced on a laptop or desktop.</p>
  <p>
    <app-carousel 
      [allImages]="comics" 
      [showText]="false" 
      [showDescription]="false" 
      [showBelt]="false"></app-carousel>
  </p>

  <app-collapsible-section heading="Animation">
    <p>
      For this Diwali I had planned a section in <a target="_blank" 
      href="https://premjitadhikary.github.io/Mesmerize/">Mesmerize</a> to animate some fire 
      crackers. This comic gave me a superb idea for a cross-over.
    </p>
    <p>
      Check out <a target="_blank" 
      href="https://premjitadhikary.github.io/Mesmerize/diwali-special">Diwali Special</a>. It 
      animates a virtual Diwali celebration of Hostel Five.
    </p>
    <p>
      <app-image-holder 
        [imageDetails]="mesmerize">
      </app-image-holder>
    </p>
  </app-collapsible-section>

  <app-collapsible-section heading="The Making">
    <p>
      A glimpse into what went in for the art.
    </p>
    <p>
      <app-carousel 
        [allImages]="making" 
        [showText]="true" 
        [showDescription]="false" 
        [showBelt]="true"></app-carousel>
    </p>
  </app-collapsible-section>

  <app-collapsible-section heading="Got Published">
    <p>
      Yes! My submission got selected. Got printed out in all it's <em>glory</em> in the 60th 
      anniversary Souvenir. I did not get a hold of the hard copy <em>(as of yet)</em>. But I did 
      grab a couple of screenshots from the 3D flip book that I found on our college website.
    </p>
    <p>
      <app-carousel 
        [allImages]="published" 
        [showText]="true" 
        [showDescription]="false" 
        [showBelt]="false"></app-carousel>
    </p>
    <p>
      In case you are wondering, the last 2 pages were not sent. I added them exclusively for the 
      web version!
    </p>
  </app-collapsible-section>
</div>
