<div>
  <app-article-header id=1015></app-article-header>
  <p>
    A mini-comic set in <em>An Agent</em> universe.  In the first <a target="_blank" 
    href="https://premjitadhikary.github.io/paintinbits/articles/an-agent">comic</a>, the relation 
    between R and agent is shown to be testy at best.  This one continues the same theme.  Both of 
    them are at each other.
  </p>
  <p>
    The idea explored in this comic might not appeal to everyone (my daughter was like <em>I don't 
    get it</em>).  But if you write (or ever wrote) code, this should make sense to you!
  </p>
  <p>
    For R's dialogues, like last time,  I had again requested assistance of my good friend Babin 
    to proof read them.
  </p>
  <p>Fair warning, comics are best experienced on a laptop or desktop.</p>
  <app-comic-holder [comics]="comics"></app-comic-holder>
  <p>
    <em>Fact:</em>  Palindrome was one of the first programs that I had coded back in my Engineering days 
    (in good old C).
  </p>
  <app-agent-collection></app-agent-collection>
  <br>
</div>
